<html>
	<head>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
	</head>
	<body ng-app="NotesApp">
		<div class="container" ng-controller="NotesController">
			<form>
				<div class="form-group">
					<div class="row-fluid">
						<div class="col-md-5">
							<div class="well">
								<h1>Notes' List</h1>
									<button class="btn btn-default btn-block" ng-repeat="notes in Notes track by $index" ng-click="show(notes)">{{notes.topic}}</button>
								</div>
							</div>
						</div>	
						<div class="col-md-7">
							<div class="well">
								<div class="form-group">
									<input type="text" placeholder="Topic" class="form-control" ng-model="topic" />
								</div>
								<div class="form-group">
									<textarea name="" id="" cols="30" rows="15" class="form-control" placeholder="Body" ng-model="body"></textarea>
								</div>
								<button class="btn btn-danger" ng-click="deleteValue()">Delete</button>
								<button class="btn btn-success pull-right" ng-click="addValue()">Save</button>
								<button class="btn btn-default pull-right" ng-click="cancelValue()">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript">
			var NotesApp = angular.module("NotesApp",[])
			NotesApp.controller("NotesController",function($scope){
				$scope.Notes = [
					{topic: 'Assignment', body:'do your assignment'},
					{topic: 'Cook', body:'Follow recipe in cook book'},
					{topic: 'Study', body: 'Exams and quizzes'}
				];
				$scope.show = function(notes){
					$scope.topic = notes.topic;
					$scope.body = notes.body;
				};
				$scope.addValue = function(){
					console.log($scope.Notes);
					$scope.Notes.push({topic:$scope.topic,body:$scope.body});
					$scope.topic = null;
					$scope.body = null;
				};
				$scope.deleteValue = function(index){
					$scope.Notes.splice(index,1);
				};
				$scope.cancelValue = function(){
					$scope.topic = null;
					$scope.body = null;
				};
			});
		</script>
	</body>
</html>